{% extends 'core/base.html' %}

<title>{% block title %}Editar Minha conta | {% endblock %}</title>

{% block content %}

<div class="max-w-6xl mx-auto py-6">
    <h1 class="mb-3 text-3xl"> Editar Minha conta</h1>

    <form method="post" action="." class="space-y-3">

        {% csrf_token %}

        <div>
            <label for="">Primeiro Nome: </label>
            <input name="first_name" value="{{ request.user.first_name }}" class="w-full mt-1 py-3 px-6 bg-gray-100 rounded">
        </div>

        <div>
            <label for="">Sobrenome: </label>
            <input name="last_name" value="{{ request.user.last_name }}" class="w-full mt-1 py-3 px-6 bg-gray-100 rounded">
        </div>

        <div>
            <label for="">Usuário: </label>
            <input name="username" value="{{ request.user.username }}" class="w-full mt-1 py-3 px-6 bg-gray-100 rounded">
        </div>

        <div>
            <label for="">Email: </label>
            <input name="email" value="{{ request.user.email }}" class="w-full mt-1 py-3 px-6 bg-gray-100 rounded">
        </div>

        <div>
            <button class="py-4 px-6 rounded text-white bg-purple-600">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}