{% extends 'core/base.html' %}

<title>{% block title %}Minha conta | {% endblock %}</title>

{% block content %}

<div class="max-w-6xl mx-auto py-6">
    <h1 class="mb-5 text-3xl">Minha conta</h1>

    <div class="mb-6">
        <strong>Name: </strong>{{request.user.get_full_name }}<br>
        <strong>Username: </strong>{{request.user.name}}<br>
        <strong>Email: </strong>{{request.user.email}}<br>

        <a href="{% url 'editar_minhaconta' %}">Editar</a>
        
    </div>
    <hr>

    <h2 class="my-6 text-xl">Minhas compras: </h2>

    <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
        <div class="mb-6 flex justify-between">
            <a href="#">Compra id:1</a>
        </div>

        <div class="mb-6 w-full">
            <div class="produto mb-6 flex pr-6">
                <a href="" class="w-1/4">
                    <img src="1.jpg" alt="image" class="hover:shadow-lg rounded-xl">
                </a>

                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-lg">Nome do Produto</a>

                        <p class="mb-6 pt-1 text-gray-400">$ 9.99</p>
                    </div>

                    <hr>

                    <div class="mt-6">
                        Quantidade:
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p class="text-lg">Date: 04.2.2020</p>
            <p class="text-lg">Total: $500</p>
        </div>
    </div>
</div>

{% endblock %}